#skills 
  height: 634px

.skills 
  &-title
    font-size: 42px
    font-family: "Overpass", sans-serif
    color: rgb(0, 0, 0)
    font-weight: bold
    line-height: 1.2
    text-align: center 
    width: 555px
    margin: 0 auto
    padding-top: 65px
  &-subtitle
    font-size: 26px
    font-family: "Overpass", sans-serif
    color: rgb(0, 0, 0)
    font-weight: bold
    line-height: 1.923
    text-align: left
    margin-top: 12px
  &-txt
    font-size: 16px
    color: rgb(76, 75, 75)
    line-height: 1.3
    text-align: left  
    width: 263px
    height: 104px
  &-item
    width: 100px
    margin-top: 44px
  &-cols 
    display: flex
    justify-content: space-between
  &-col 
    width: auto