@font-face {
  font-family: 'Overpass';
  src: local('Overpass'), url('Overpass-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face{
font-family: 'SourceSansPro-Bold';
src: local('SourceSansPro-Bold'), url('SourceSansPro-Bold.otf') format('opentype');
font-weight: 700;
font-style: normal;
}

@font-face{
font-family: 'SourceSansPro-Regular';
src: local('SourceSansPro-Regular'), url('SourceSansPro-Regular.otf') format('opentype');
font-weight: 400;
font-style: normal;
}

