#about 
  height: 727px

.about
  &-col
    width: 50%    
    margin-top: -627px
    margin-left: 0.2px
    overflow: hidden
  &-title
    font-size: 50px
    font-family: "Overpass", sans-serif
    color: rgb(255, 255, 255)
    line-height: 60px
    text-align: left
  &-txt
    font-size: 20px
    font-family: "SourceSansPro-Regular", sans-serif
    color: rgb(255, 255, 255)
    line-height: 1.3
    text-align: left
    text-overflow: ellipsis
  
button
  width: 290px
  height: 40px
  margin-top: 50px
  background: #ef6c00  
  border: none 
  border-radius: 3px
.about
  &-btn
    font-size: 20px
    font-family: "SourceSansPro-Bold", sans-serif
    color: rgb(254, 254, 254)
    font-weight: 700
    text-align: center
  &-team 
    width: 100%
    height: 725px  
  &-row
    width: 1024px
    margin: auto 

