header 
  height: 65px

.row
  display: flex
  justify-content: space-between
.col  
  &-logo
    width: 134px
    padding-top: 20px
  &-menu 
    width: 455px
  &-in 
    width: 204px
    display: flex
    padding: 20px
    padding-left: 0
    text-align: right
    margin-top: -7.69px

.menu
  &-items 
    font-size: 16px
    color: rgb(0, 0, 0)
    line-height: 3.75
    margin-right: 26px

.in
  &-item 
    width: 40px
    margin-left: 14px
    border-radius: 50% 
  &-mail 
    font-size: 12px
    color: rgb(141, 140, 140)    
  &-sign 
    padding-top: 9.5px
  &-out 
    margin-left: 14px
  &-name 
    font-size: 14px  
    line-height: initial  
    padding-top: 1px
