#intro 
  min-height: 550px
  padding-top: 132px
  font-family: "Overpass"

.intro
  &-title 
    font-size: 42px    
    color: rgb(0, 0, 0)
    font-weight: bold
    line-height: 1.19
    text-align: center
    height: 40px
    z-index: 161
  &-cols 
    display: flex
    justify-content: space-between
    padding-top: 45px
    overflow: hidden
  &-subtitle
    font-size: 26px
    color: rgb(0, 0, 0)
    font-weight: bold
    line-height: 1.923
    text-align: left 
  &-txt
    font-size: 16px
    font-family: "SourceSansPro-Regular", sans-serif
    color: rgb(76, 75, 75)
    line-height: 1.375
    text-align: left
    text-overflow: ellipsis
  &-item
    margin-right: 30px 
    margin-top: -12px
    margin-left: 1px
  &-btn
    font-size: 20px
    font-family: "SourceSansPro", sans-serif
    color: rgb(239, 108, 0)
    font-weight: bold
    line-height: 3.55
    text-align: center
  




